.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/paranoid/" }
    paranoid
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/paranoid/dsl/" }
    DSL API :: paranoid
  %hr

%h1
  Module paranoid

