.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/contributing/" }
    Contributing
  %hr

%a{ :name => "contribute" }
%h1 Contributing to BDSM

%p
  So, you want to contribute to BDSM? Excellent, we can always do with
  an extra helping hand (or two).
%p
  You don't have to be a great coder to pitch in. We always
  appreciate people helping out in the IRC channel and giving support.
  
%p
  We also greatly appreciate documentation patches, submitted from the bdsm-site
  repository (url below).

%p
  If you do have programming chops, riding shotgun
  on a remote pair-programming session is an extremely useful way to build awarenss and support for BDSM's benefits.

%p
  And if you are interested in adding your own coding contributions to BDSM, there are a few things you should be aware of;
  and a few things in particular to make the whole process a lot smoother overall.

%h2 General Guidelines

%ol
  %li
    When contributing, please either try to keep your patches simple, or work on a topic branch - this
    makes it a lot easier for us to merge in discrete changes, and means you can always keep
    things separated out when needed.
  %li
    All code must be compatible with bash 3.2.48 and later. (The newer the better, actually.)
  %li
    Clean code is highly preferred - if in doubt, take a look at other already-written
    BDSM scripts, then refactor from there.
  %li
    Drop into our IRC room (#beginrescueend on freenode) and chat with
    wayneeseguin or mpapis:
    %ul
      %li
        if you have a particular task in mind, we'll be happy to let you know if someone else
        has already started on it (and we can connect you, if you'd like to team up.)
      %li
        if you're willing to just pitch in, we'll be thrilled to let you know where you could probably make the biggest impact

%h2 Handy Tips

%ol
  %li
    Generally, working with your own clone of the primary BDSM repository is by far the best way
    to go; from there, it's as simple as it can git (sorry!) to update your main install.
    All you need to do is to pop into the project repository directory that you
    cloned, (e.g. ~/projects/bdsm), and run:
    = root_command "./install"

%h2 Repositories

%ul
  %li
    %strong Main BDSM Repository:
    %a{:href => "http://github.com/wayneeseguin/bdsm"} wayneeseguin/bdsm
  %li
    %strong BDSM Extensions:
    %a{:href => "http://github.com/wayneeseguin/bdsm-extensions"} wayneeseguin/bdsm-extensions
  %li
    %strong BDSM Website:
    %a{:href => "http://github.com/wayneeseguin/bdsm-site"} wayneeseguin/bdsm-site
