.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/contributing/" }
    Contributing
  %hr

%a{ :name => "contribute" }
%h1 Contributing to BDSM

%p
  So, you want to contribute to BDSM? Excellent, we can always do with
  an extra helping hand (or two). If you're not a great coder, we always
  appreciate people helping out in the channel and giving support. Riding shotgun
  on a remote pair programming session is also exteremely useful.
  If you are interested in coding by yourself, there are a few things you will
  need to know and a few things that make the process in general a lot smoother.

%p
  We also greatly appreciate documentation patches, submitted from the bdsm-site
  repository (url below).

%h2 General Guidelines

%ol
  %li
    When contributing, either keep patches simple or work on a topic branch - this
    makes it easier for us to merge in discrete changes and means you always keep
    things seperate where needed.
  %li
    The code has to be compatible with bash version 3.2.48 and beyond. The newer
    the better.
  %li
    Clean code is preferred - if in doubt, take a look at other already written
    scripts and refactor.
  %li
    Drop into the IRC room (#beginrescueend on freenode) and chat with
    wayneeseguin if you have a task in mind.
    You may find someone else has already started on it.

%h2 Handy Tips

%ol
  %li
    Generally, working in a clone of the repository is by far the best way
    to go and from there it is simple to update your main install.
    All you need to do is change to the project repository directory that you
    cloned (e.g. ~/projects/bdsm), and run:
    = root_command "./install"

%h2 Repositories

%ul
  %li
    %strong Main BDSM Repository:
    %a{:href => "http://github.com/wayneeseguin/bdsm"} wayneeseguin/bdsm
  %li
    %strong BDSM Extensions:
    %a{:href => "http://github.com/wayneeseguin/bdsm-extensions"} wayneeseguin/bdsm-extensions
  %li
    %strong BDSM Website:
    %a{:href => "http://github.com/wayneeseguin/bdsm-site"} wayneeseguin/bdsm-site
