.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/core/" }
    Core
  %hr

%h1
  Developing BDSM Core
%p
  For BDSM core development, it is recommended that you have a BDSM installation
  locally for testing your changes and utilizing the workflow defined below.

%h2
  Prerequisites
%p
  The first prerequisite is that you have
  %a{:href => "http://git-scm.com/"}
    Git
  installed (1.7 or higher).
%p
  If you have not yet installed BDSM locally, follow the
  %a{:href => "/bdsm/install/"}
    installation documentation

%h2
  Core development
%p
  Developing BDSM core is a straight forward process to get started.
%p
  First set your extensions development path in your *development user's* ~/.bdsmrc.
  On my system, I keep all of my code in ~/projects/bdsm/ related to the BDSM
  project. This means that my ~/.bdsmrc will contain the following line.

%pre.code
  :preserve
    export core_development_path="$HOME/projects/bdsm/core"

%p
  Next clone the repositories to the development paths you defined above.
%pre.code
  :preserve
    user$ mkdir -p ~/projects/bdsm
    user$ git clone git://github.com/wayneeseguin/bdsm ~/projects/bdsm/core

%p
  We are now ready to start working on BDSM core.
%p
  There are four parts to the BDSM core framework.
  %ol
    %li Installer (./install)
    %li Bootstrap script (bin/bdsm)
    %li Core extensions (extensions/)
    %li Modules (modules/)

%h2
  Installer / Bootstrap Script
%p
  Be *sure* to talk to me if you are modifying either of these as I may be able
  to reduce your pain :)
%p
  To edit BDSM core in our $EDITOR, run the command below.
%pre.code
  :preserve
    user$ bdsm core edit
%p
  Note that 'vi' will be launched in the terminal if no EDITOR variable is set
  in your shell (usually in ~/.bash_profile or ~/.zshenv).

%h2
  Core Extensions
%p
  To edit BDSM core extensions in your $EDITOR, run the command below.
%pre.code
  :preserve
    user$ bdsm edit {{core,ext, or mod}}

%h2
  Modules
%p
  To edit BDSM core modules in your $EDITOR, run the command below.
%pre.code
  :preserve
    user$ bdsm module edit X
%p
  You can list all core modules.
%pre.code
  :preserve
    user$ bdsm modules list
%p
  You can list all DSL functions for a specific module.
%pre.code
  :preserve
    user$ bdsm modules dsl {{module name}}

%p
  If you wish to create a new module you may do so like this.
%pre.code
  :preserve
    user$ bdsm module create newmodule
    user$ bdsm module edit newmodule

%h2 Submitting core changes
%p
  Once we are happy with our changes we can add our new extension to a branch and
  send a pull request. First
  %a{:href => "https://github.com/wayneeseguin/bdsm#fork_box"}
    fork the repository on GitHub
  into your account.

%p
  Next add your forked GitHub repository as a remote.
%pre.code
  :preserve
    user$ cd $(bdsm core src)
    user$ git remote add github git@github.com:{{your GitHub username}}/bdsm.git

%p
  Now add your awesome to a topic branch.
%pre.code
  :preserve
    user$ git checkout -b featureX # Or perhaps bugfixX
    user$ git add {{changed files}}
    user$ git commit -m "Added feature X." # Or "Bugfix: Fixed X... {{explain}}"
%p
  Next push your topic branch containing your wonderful feature addition and/or
  bugfix code to your forked repository on GitHub.
%pre.code
  :preserve
    user$ git push github featureX # OR bugfixX

%p
  Browse to your GitHub account's bdsm repository and issue a
  pull request to the
  %a{:href => "https://github.com/wayneeseguin/bdsm.git"}
    main repository
  \.

