.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/debugging/" }
    Debugging
  %hr

%h2 Debugging (BD)SM

%p
  The easiest way to get help with the (BD)SM Framework is to join the
  #smf.sh channel on freenode - You can use a
  %a{:href => "http://webchat.freenode.net/?channels=smf.sh"} web based client
  if you don't have one installed. If you're unable to chat in the channel,
  make sure you
  %a{:href => "http://www.wikihow.com/Register-a-User-Name-on-Freenode"} register your nick first.

%p
  If you encounter an issue with BDSM, you can make it greatly easier
  for the maintainers and support crew by following the steps below.
  Each of them in turn helps provide increased insight into exactly what is going wrong.

%h3 Tracking Down Bugs

%p
  When telling us the problem, we need two key sets of information. One, we need the output
  of running bdsm like so:

= sh_cmd "sm --trace <<command>>"

%p
  And, second, we want to see all the output you get from re-running the broken command using the trace option.
  e.g. if you see problems when you run:

= sh_cmd "sm deploy"

%p
  then re-run it with this added argument:

= sh_cmd "sm --trace deploy"

%p
  To share this information efficiently with us in IRC, use a site like
  %a{:href => "http://gist.github.com/"} gist
  or
  %a{:href => "http://pastie.org/"} pastie.
  Given the choice, we much prefer gist, because it lets us easily fork
  your results, so we can provide you with precisely edited output in return; but either will suffice.

%p
  Lastly, please ensure you've read:
  %a{:href => "http://www.chiark.greenend.org.uk/~sgtatham/bugs.html"} "How to Report Bugs Effectively"
  It's in everyone's interest to speed up the whole process.
