.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  %hr

%h1
  Developing BDSM extensions
%p
  For BDSM extensions development, it is recommended that you have a BDSM installation
  locally for testing your changes and utilizing the workflow defined below.

%h2
  Prerequisites
%p
  The first prerequisite is that you have
  %a{:href => "http://git-scm.com/"}
    Git
  installed (1.7 or higher).
%p
  If you have not yet installed BDSM locally, follow the
  %a{:href => "/bdsm/install/"}
    installation documentation

%h2
  Extension development

%h3 Introduction Tutorial Video
%p.center
  = '<iframe src="http://player.vimeo.com/video/23061356?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0"></iframe><p><a href="http://vimeo.com/23061356">BDSM Extension Development Introduction</a> from <a href="http://vimeo.com/user5737302">Wayne E Seguin</a> on <a href="http://vimeo.com">Vimeo</a>.</p><p>Bash Delectable Scripting Modules (BDSM) Framework<br /> <br /> This video provides a tutorial for getting your BDSM development environment setup:<br /> <br /> https://bdsm.beginrescueend.com/development/<br /> <br /> Also covered is creating a first extension and action:<br /> <br /> https://bdsm.beginrescueend.com/development/extensions</p>'

%p
  Developing BDSM extensions is a straight forward process to get started.
%p
  First set your extensions development path in your *development user's* ~/.bdsmrc.
  On my system, I keep all of my code in ~/projects/bdsm/ related to the BDSM
  project. This means that my ~/.bdsmrc will contain the following line.

%p
  We are now ready to start creating extensions.
%pre.code
  :preserve
    user$ bdsm create awesome_extension

%p
  This creates a package/service extension from a default template in the
  extensions development path that you defined in ~/.bdsmrc.
%p
  Next we edit the extension in your $EDITOR. vim will be launched if no EDITOR
  variable is set in your shell.
%pre.code
  :preserve
    user$ bdsm edit awesome_extension

%h2 Submitting Extensions

%p
  Once we are happy with our changes we can add our new extension to a branch and
  send a pull request. First
  %a{:href => "https://github.com/sm/sm-gnu#fork_box"}
    fork the repository on github
  into your account.
%p
  Next add your github as a remote and checkout a topic branch.
%pre.code
  :preserve
    user$ cd $(bdsm ext src)
    user$ git remote add github git@github.com:{{your github username}}/bdsm-extensions.git
    user$ git checkout -b awesome_extension
    user$ git add awesome_extension/
    user$ git commit -m "Created initial awesome_extension."
    user$ git push github awesome_extension
%p
  Now browse to your github account's bdsm-extensions repository and issue a
  pull request to the main repository.
%p
  It is advised to leave a message for me (wayneeseguin) in #beginrescueend on
  irc.freenode.net regarding the pull request and/or discuss your extension with
  me there. I am very happy to work with you to get your extension running quickly.

