.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/github/" }
    GitHub
  %hr

%h2
  BDSM Source Repository

%p
  bdsm's source code repository is hosted and publically visible on
  %a{:href => "https://github.com/wayneeseguin/bdsm"}
    GitHub

%h2
  BDSM Extensions Source Repository
%p
  BDSM's extensions source code repository is hosted and publically visible on
  %a{:href => "https://github.com/wayneeseguin/bdsm-extensions"}
    GitHub
