.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/list/" }
    Mailing List
  %hr

%a{ :name => "list" }
%h1
  Mailing List

%p
  None yet, stay tuned I inted to setup a librelist.
