.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/development/" }
    Development
  &nbsp;>&nbsp;
  %a{ :href => "/site/" }
    Site
  %hr

%h1
  Developing BDSM WebSite

%h2 Bash Delectable Scripting Modules (BDSM) Framework Documentation WebSite

You can see the documentation live online at http://bdsm.beginrescueend.com/.

%h2 Get the Site Running Locally

If you're going to help you'll first need to get the site running locally.
Start by forking the repository and cloning the fork.

%h2 Requirements

The site requires that you have ruby 1.9.2 running in your environment.
(Although you can manually use something else, this is what is setup in the
.rvmrc file currently.)

%p
  You can do this with RVM (be sure to read both the
  %a{:href => "https://rvm.beginrescueend.com/rvm/install/"}
    installation
  and
  %a{:href => "http://rvm.beginrescueend.com/rvm/basics/"}
    basics
  documentation for RVM) by typing the following at the command line:

%pre.code
  :preserve
    rvm install 1.9.2
%p
  The bdsm-site project requires a few ruby gems that can be found in the bdsm-site.gems, including:

%ul
  %li
    %a{:href => "http://compass-style.org/"}
      compass
    \- Helps with managing haml/sass
  %li
    %a{:href => "http://haml-lang.com/"}
      haml
    \- The markup language used for authoring
  %li
    %a{:href => "http://sass-lang.com/"}
      sass
    \- Used for generating css. (bundled with the haml Gem)
    (bundled with the haml Gem)
  %li
    %a{:href => "http://nanoc.stoneship.org/"}
      Nanoc3
    \- Used for generating the static
  %li
    %a{:href => "http://guides.rubyonrails.org/rails_on_rack.html"}
      Rack
    \- Used for developing the website and viewing locally with nanoc autocompile feature.
  %li
    %a{:href => "http://rubyforge.org/projects/mime-types/"}
      Mime-type
    \- Used for development with nanoc autocompile feature.
%p
  The cloned site will detect if you have these installed (except Mime-type) in your current ruby and if not it will install them in RVM for you.

%h2 Getting the site Running

%p
  First be sure that you have ruby 1.9.2 selected and are in the cloned repository directory.
%p
  Note that if you cd to the directory and are using RVM, the project .rvmrc will be loaded and you can open the content/ in your editor and start hacking away on the website.

%p
  If you would like to view the changes locally as you hack, You can use Nanoc's AutoCompile feature:

%pre.code
  :preserve
    nanoc3 aco
%p
  Then visit http://localhost:3000/ if you are on OSX you can do this from the command line,

%pre.code
  :preserve
    open http://localhost:3000/
%p
  On some linux systems you can do the following,
%pre.code
  :preserve
    xdg-open http://localhost:3000/

%h2 Submitting Website/Documentation Updates

%p
  Once you are satisfied with your changes to the documentation push them to your github fork *on a branch* and initiate a pull request. Please use a topic branch. Sample submission workflow is below.
%p
  First
  %a{:href => "https://github.com/wayneeseguin/bdsm-extensions#fork_box"}
    fork the repository on github
  into your account.
%p
  Next add your github as a remote and checkout a topic branch.
%pre.code
  :preserve
    user$ githubuser={{your github user name}}
    user$ p bdsm site # cd into the bdsm website
    user$ git remote add github git@github.com:$githubuser/bdsm-site.git
    user$ branch=update_for_{{name the branch something useful, no spaces}}
    user$ git checkout -b $branch
    user$ git add {{the files you added or changed}}

%p
  Now say what you did, be clear and consise

%pre.code
  :preserve
    user$ git commit -m "Updated the documentation with ..."
    user$ git push github $branch
%p
  Now browse to your github account's bdsm-site repository and issue a
  pull request to the main bdsm-site repository. On OSX you can do this
  from the command line,
%pre.code
  :preserve
    user$ open https://github.com/$githubuser/bdsm-site/tree/$branch
%p
  On some linux systems you can do this,
%pre.code
  :preserve
    user$ xdg-open https://github.com/$githubuser/bdsm-site/tree/$branch
%p
  It is advised to leave a message for me (wayneeseguin) in #beginrescueend on
  irc.freenode.net regarding the pull request and/or discuss your updates with
  me there. I am very happy to work with you to get your updates incorporated
  quickly.

%h2 Thank YOU

Thank you for taking the time to work on the BDSM website!!!

