.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  %hr

%h1
  Bash Modules

%h2
  Documentation
%ul
  %li
    %a{:href => "/modules/bash/array/"} Bash Array Module
  %li
    %a{:href => "/modules/bash/core/"} Bash Core Module
  %li
    %a{:href => "/modules/bash/defaults/"} Bash Defaults Module
  %li
    %a{:href => "/modules/bash/environment/"} Bash Environment Module
  %li
    %a{:href => "/modules/bash/extensions/"} Bash Extensions Module
  %li
    %a{:href => "/modules/bash/filesystem/"} Bash Filesystem Module
  %li
    %a{:href => "/modules/bash/help/"} Bash Help Module
  %li
    %a{:href => "/modules/bash/package/"} Bash Package Module
  %li
    %a{:href => "/modules/bash/project/"} Bash Project Module
  %li
    %a{:href => "/modules/bash/service/"} Bash Service Module
  %li
    %a{:href => "/modules/bash/system/"} Bash System Module
  %li
    %a{:href => "/modules/bash/templates/"} Bash templates Module
  %li
    %a{:href => "/modules/bash/trace/"} Bash Trace Module
  %li
    %a{:href => "/modules/bash/variables/"} Bash Variables Module
