.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  %hr

%h1
  Module Basics

%h2
  Description
%p
  When you write an extension you may call upon BDSM modules in order to use
  pre written functionality in a DSL form. This tends to greatly accelerate the
  development of system scripts.
%p
  Modules can be thought of as say a programming language's standard library
  where in any of that language's code files you may load the library and then
  start using it's functionality.
%p
  Modules are grouped by language.
