.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/basics/" }
    Basics
  %hr

%h1
  Basics

%h2
  Description
%p
  When you write an extension you may call upon BDSM modules in order to use
  pre written functionality in a DSL form. This tends to greatly accelerate the
  development of system scripts.
%p
  Modules can be thought of as say a programming language's standard library
  where in any of that language's code files you may load the library and then
  start using it's functionality.
%p
  Modules are grouped by language.

%h2
  Languages
%p
  Now that you have a grasp of modules, you may proceed to the individual
  language modules documentation pages.
  %ol
    %li
      %a{:href => "/modules/bash"} Bash Modules
    %li
      %a{:href => "/modules/c"} C Modules
    %li
      %a{:href => "/modules/ruby"} Ruby Modules
    %li
      %a{:href => "/modules/perl"} Perl Modules
    %li
      %a{:href => "/modules/python"} Python Modules


