.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/c/" }
    C
  %hr

%h1
  C Modules

%h2
  Documentation
%ul
  %li
    %a{:href => "/modules/c/environment/"} C Environment Module

