.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/perl/" }
    Perl
  %hr

%h1
  Perl Modules

%h2
  Documentation
%ul
  %li
    %a{:href => "/modules/perl/environment/"} Perl Environment Module

