.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/python/" }
    Python
  %hr

%h1
  Python Modules

%h2
  Documentation
%ul
  %li
    %a{:href => "/modules/python/environment/"} Python Environment Module


