.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/ruby/" }
    Ruby
  %hr

%h1
  Ruby Modules

%h2
  Documentation
%ul
  %li
    %a{:href => "/modules/ruby/environment/"} Ruby Environment Module

