.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  %hr

%h1
  Shell Modules

%p
  The bash modules are a collection of namespaced functions that allow for
  simplification and encapsulation of common scripting functionality.

%h2
  Getting started
%p
  Each of the modules below may be tested by creating a simple script beginning
  with the following two lines of code.
%pre.code
  :preserve
    #!/usr/bin/env bash
    source "/usr/local/bdsm/modules/shell/core/initialize" # Load BDSM framework
%p
  A simple example of this is to use the filesystem module.
%pre.code
  :preserve
    #!/usr/bin/env bash
    source "/usr/local/bdsm/modules/shell/core/initialize" # Load BDSM framework
    modules filesystem # We're going to use the system module.
    if file_is_nonempty "$HOME/.bashrc" # Provided by the filesystem module
    then
      log "$HOME/.bashrc is nonempty! " # log() is provided by logging module
    else
      log "$HOME/.bashrc is empty! "
    fi
%p
  As can be seen here, the BDSM framework may be used in any script.
  The above example I created as contents to the file '$HOME/test' which I then
  called from the command line.

%p
  One useful feature to keep in mind is the enable_backtrace() from the trace
  module. If we put the following two lines at the end of the '$HOME/test' script
  above,
%pre.code
  :preserve
    enable_backtrace
    asdfasdf

%p
  Then we get the following useful error trace output,
%pre.code
  :preserve
    user$ "$HOME/test"
    /Users/wayneeseguin/.bashrc is nonempty!
    bash: asdfasdf: command not found (asdfasdf)

    A command has returned an unhandled error code (nonzero return value).

    function()                 Source
    ===============================================================================================
    main()                     mvim://open?url=file:///Users/wayneeseguin/test&line=13
    ===============================================================================================
%br
Note that adding
%code
  source "/usr/local/bdsm/modules/shell/core/initialize"
to your scripts gives you all the functions in the BDSM modules listed below.

%h2
  Documentation
%p
  Individual module DSL function listings can be found in the following pages.
%ul
  %li
    %a{:href => "/modules/shell/array/"} Shell Array Module
  %li
    %a{:href => "/modules/shell/core/"} Shell Core Module
  %li
    %a{:href => "/modules/shell/defaults/"} Shell Defaults Module
  %li
    %a{:href => "/modules/shell/environment/"} Shell Environment Module
  %li
    %a{:href => "/modules/shell/extensions/"} Shell Extensions Module
  %li
    %a{:href => "/modules/shell/filesystem/"} Shell Filesystem Module
  %li
    %a{:href => "/modules/shell/help/"} Shell Help Module
  %li
    %a{:href => "/modules/shell/package/"} Shell Package Module
  %li
    %a{:href => "/modules/shell/project/"} Shell Project Module
  %li
    %a{:href => "/modules/shell/service/"} Shell Service Module
  %li
    %a{:href => "/modules/shell/system/"} Shell System Module
  %li
    %a{:href => "/modules/shell/templates/"} Shell templates Module
  %li
    %a{:href => "/modules/shell/trace/"} Shell Trace Module
  %li
    %a{:href => "/modules/shell/variables/"} Shell Variables Module
