.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/rvm/" }
    rvm
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/rvm/dsl/" }
    DSL API :: rvm
  %hr

%h1
  Module rvm

