.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/paranoid/" }
    paranoid
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/paranoid/dsl/" }
    DSL API :: paranoid
  %hr

%h1
  Module paranoid

%p used for script bugging and paranoid sysadmins.
