.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/" }
    bdsm
  %hr

%h2
  %a{:href => "/bdsm/"} BDSM

%p
  %ul
    %li
      %a{:href => "/bdsm/basics/"} Basics
    %li
      %a{:href => "/bdsm/best-practices/"} Best Practices
    %li
      %a{:href => "/bdsm/prerequisites/"} Prerequisites
    %li
      %a{:href => "/bdsm/install/"} Installation
    %li
      %a{:href => "/bdsm/configuration/"} Configuration
    %li
      %a{:href => "/bdsm/upgrading/"} Upgrading
    %li
      %a{:href => "/bdsm/cli/"} CLI
    %li
      %a{:href => "/bdsm/info/"} Info
    %li
      %a{:href => "/bdsm/about/"} About
    %li
      %a{:href => "/bdsm/myths/"} Myths

