.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  %hr

%h2
  %a{:href => "/extensions/"} Extensions
%p
  %ul
    %li
      %a{:href => "/extensions/overview"} Extensions Overview
    %li
      %a{:href => "/extensions/core"} BDSM Core 'core' Extension
    %li
      %a{:href => "/extensions/ext"} Extensions 'ext' Extension
    %li
      %a{:href => "/extensions/mod"} Modules 'mod' Extension
