.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  %hr

%h2
  %a{:href => "/extensions/"} Extensions

%p
  Please read about the
  %a{:href => "/extensions/basics"}
    basics of extensions
  thoroughly, before using BDSM.

%h2
  Core Extension documentation
%p
  %ul
    %li
      %a{:href => "/extensions/core"} BDSM Core 'core' Extension
    %li
      %a{:href => "/extensions/ext"} Extensions 'ext' Extension
    %li
      %a{:href => "/extensions/mod"} Modules 'mod' Extension
