.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    modules
  %hr

%h2
  %a{:href => "/modules/"}
    Modules

%p
  Please read the
  %a{:href => "/modules/basics"}
    basics of modules
  before
  %a{:href => "/development/extensions/"}
    developing extensions
  \.

%h2
  Modules
%p
  %ul
    %li
      %a{:href => "/modules/shell"} Shell Modules

