.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    modules
  %hr

%h2
  %a{:href => "/modules/"}
    Modules

%p
  Please read the
  %a{:href => "/modules/basics"}
    basics of modules
  thoroughly before
  %a{:href => "/development/extensions/"}
    developing extensions
  \.

%h2
  Module Languages
%p
  %ul
    %li
      %a{:href => "/modules/shell"} Shell Modules (Default)
    %li
      %a{:href => "/modules/c"} C Modules
    %li
      %a{:href => "/modules/ruby"} Ruby Modules
    %li
      %a{:href => "/modules/perl"} Perl Modules
    %li
      %a{:href => "/modules/python"} Python Modules

