.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/sm/" }
    sm
  %hr

%h2
  %a{:href => "/sm/"} SM Framework

%p
  %ul
    %li
      %a{:href => "/sm/basics/"} Basics
    %li
      %a{:href => "/sm/best-practices/"} Best Practices
    %li
      %a{:href => "/sm/prerequisites/"} Prerequisites
    %li
      %a{:href => "/sm/install/"} Installation
    %li
      %a{:href => "/sm/configuration/"} Configuration
    %li
      %a{:href => "/sm/upgrading/"} Upgrading
    %li
      %a{:href => "/sm/cli/"} CLI
    %li
      %a{:href => "/sm/info/"} Info
    %li
      %a{:href => "/sm/about/"} About
    %li
      %a{:href => "/sm/myths/"} Myths

