.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/array/" }
    array
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/array/dsl/" }
    DSL API :: array
  %hr

%h1
  Module array

