.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/sm/" }
    SM
  &nbsp;>&nbsp;
  %a{ :href => "/sm/about/" }
    About
  %hr

%a{ :name => "about" }
%h1
  About the (BD)SM Framework
%p
  BDSM started as a personal project to keep all of my various server-side
  scripts together. It quickly evolved into a framework that I have been using
  to keep a large number of production systems in a state of quivering, delightful
  obedience, subject to my every whim, since late 2009.

