.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/sm/" }
    sm
  &nbsp;>&nbsp;
  %a{ :href => "/sm/upgrading/" }
    Upgrading
  %hr

%h1
  Upgrading SMF
%p
  SMF supports two upgrade methods: one is to update to the latest gem (a full release version); the other is to the latest repository snapshot ("live" development version).
%h3
  Upgrading to the latest release

%pre.code
  :preserve
    root# sm get latest
%p
  Downloads and installs the latest full release as a gem.
%h3
  Upgrading to the latest repository source
%pre.code
  :preserve
    root# sm get head
%p
  Obtains a local version of the latest SMF repository sourcecode, and runs ./install directly from that repository.
