.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/sm/" }
    sm
  &nbsp;>&nbsp;
  %a{ :href => "/sm/upgrading/" }
    Upgrading
  %hr

%h1
  Upgrading BDSM
%p
  BDSM supports two upgrade methods: one is to update to the latest gem (a full release version); the other is to the latest repository snapshot ("live" development version).
%h3
  Upgrading to the latest release

%pre.code
  :preserve
    ∴ bdsm get latest
%p
  Downloads and installs the latest full release as a gem.
%h3
  Upgrading to the latest repository source
%pre.code
  :preserve
    ∴ bdsm get head
%p
  Obtains a local version of the latest BDSM repository sourcecode, and runs ./install directly from that repository.
