.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/support/faq/" }
    FAQ
  %hr

%h1
  BDSM FAQ & Notes

%h2
  FAQ
%p
  No FAQ yet as clearly BDSM is self explanatory :p :).

