.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/support/irc/" }
    IRC
  %hr

%p
  I can be reached as 'wayneeseguin' in the
  %a{ :href => "http://webchat.freenode.net/?channels=beginrescueend" }
    \#beginrescueend channel on irc.freenode.net
%p
  Please be clear that you are there for BDSM.
%p
  If I do not respond right away, leave a message I respond when I return.
