.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/support/" }
    Support
  &nbsp;>&nbsp;
  %a{ :href => "/support/notes/" }
    Notes
  %hr

%h1
  Notes
%p
  No notes yet, so far everything is covered in the
  %a{:href => "/bdsm/basics/"}
    basics page
  \.
