.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/python/" }
    Python
  &nbsp;>&nbsp;
  %a{ :href => "/modules/python/environment/" }
    Environment
  %hr

%h1
  Environment Module

