.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/core/" }
    core
  %hr

%h1
  Core Module

%h2 What it does

The Core Module contains functionality key to the development of the SM framework.
It's unlikely you'll need to use these functions.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/core.haml"}
  Edit on GitHub
and send a pull request!


