.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/help/" }
    help
  %hr

%h1
  Help Module

%h2 What it does
The Help module allows you to develop a Help section for your BDSM extension.

%h2 Functions

%pre.code
  :preserve
    show_help()
    description()
    help_description()
    actions()
    action()
    note()
    dependencies()
    resource()
    help_actions()
    help_notes()
    help_dependencies()
    help_resources()
    help_section()
    help_usage()
    usage()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/help/dsl/"}
    Help module DSL documentation
  for more detail on the individual Help functions.


