.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/logging/" }
    logging
  %hr

%h1
  Logging Module

%h2 What it does

The Logging module adds an easy way to handle error and warning logging and debugging within the SM framework.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/logging.haml"}
  Edit on GitHub
and send a pull request!

