.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/modules/" }
    modules
  %hr

  %h1
    Modules Module

  %h2 What it does
  The Modules Module (ooh, meta) gives you the ability to list, load, or get information about all the modules available in the BDSM framework.

  %h2 Functions

  %pre.code
    :preserve
      modules()
      module_load()
      module_is_loaded()
      modules_loaded()
      module_dsl()
      modules_list()
      modules_docs()
      modules_docgen()

  %h2
    DSL
  %p
    Read the
    %a{:href => "/modules/shell/modules/dsl/"}
      Modules module DSL documentation
    for more detail on the individual Modules module functions.

