.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/modules/" }
    modules
  %hr

  %h1
    Modules Module

  %h2 What it does
  The Modules Module (ooh, meta) gives you the ability to list, load, or get information about all the modules available in the BDSM framework.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/modules.haml"}
  Edit on GitHub
and send a pull request!


