.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/package/" }
    package
  %hr

%h1
  Package Module

%h2 What it does
The Package module gives BDSM functions specifically for installing/uninstalling/building packages.
If you want to automate the installation, management, and configuration of packages,
you're going to be good friends with the Package module.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/package.haml"}
  Edit on GitHub
and send a pull request!


