.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/paranoid/" }
    paranoid
  %hr

%h1
  Module paranoid

%p used for script bugging and paranoid sysadmins.

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/paranoid/dsl/"}
    paranoid module dsl documentation

%h1
  Paranoid Module

%h2 What it does
The Paranoid Module is for script bugging and paranoid sysadmins.

%h2 Functions

%pre.code
  :preserve
    nothing here yet... stay tuned!

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/paranoid/dsl/"}
    Paranoid module DSL documentation
  for more detail on the individual Paranoid functions.

