.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/service/" }
    service
  %hr

%h1
  Service Module

%h2 What it does
The Service Module adds functionality and a DSL for managing services (such as databases) within the BDSM framework.

%h2 Functions

%pre.code
  :preserve
    services_list()
    services_installed()
    services_available()
    service_setup()
    service_start()
    service_stop()
    service_restart()
    service_status()
    service_logtail()
    service_info()
    service_configcheck()
    service_usage()
    service_cli()
    service_pid()
    service_load_conf_d()
    service_install_init_d()
    service_init_path()
    service_init_start()
    service_init_stop()
    service_init_status()
    service_init_usage()
    service_init_logtail()
    service_conf_d()
    service_init_d()
    service_deactivate()
    service_activate()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/service/dsl/"}
    Service module DSL documentation
  for more detail on the individual Service functions.


