.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/service/" }
    service
  %hr

%h1
  Service Module

%h2 What it does

The Service Module adds functionality and a DSL for managing services
(such as databases) within the SM framework.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/array.haml"}
  Edit on GitHub
and send a pull request!

