.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/system/" }
    system
  %hr

%h1
  System Module

%h2 What it does
The System Module adds the ability to detect details about your system. This can be useful you need to detect OS type or CPU architecture, such as when compiling a package from source.

%h2 Functions

%pre.code
  :preserve
    init_scripts_path()
    confd_path()
    os_is_linux()
    os_is_darwin()
    os_is_bsd()
    os_is_solaris()
    os_is_aix()
    os_type()
    os_arch_type()
    os_arch()
    os_arch_capable()
    os_cpu_count()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/system/dsl/"}
    System module DSL documentation
  for more detail on the individual System functions.

