.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/system/" }
    system
  %hr

%h1
  System Module

%h2 What it does

The System Module adds the ability to detect details about your system.
This can be useful you need to detect OS type or CPU architecture,
such as when compiling a package from source.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/system.haml"}
  Edit on GitHub
and send a pull request!


