.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/templates/" }
    templates
  %hr

  %h1
    Array Module

%h2 What it does

The Templates module adds functionality to create and install templates,
which can ease development of new extensions.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/templates.haml"}
  Edit on GitHub
and send a pull request!


