.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/time/" }
    time
  %hr

%h1
  Time Module

%h2 What it does
The Time Module adds timestamp capability to the BDSM framework.

%h2 Functions

%pre.code
  :preserve
    timestamp_set()
    timestamp()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/time/dsl/"}
    Time module DSL documentation
  for more detail on the individual Time functions.


