.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/users/" }
    users
  %hr

%h1
  Users Module

%h2 What it does

The Users Module adds functions for adding and deleting users,
as well as running tasks as admin or root users.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/users.haml"}
  Edit on GitHub
and send a pull request!


