.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/users/" }
    users
  %hr

%h1
  Users Module

%h2 What it does
The Users Module adds functions for adding and deleting users, as well as running tasks as admin or root users.

%h2 Functions

%pre.code
  :preserve
    user_create_if_missing()
    user_delete()
    user_is_root()
    user_is_not_root()
    user_must_be_root()
    user_must_not_be_root()
    user_run_as()
    user_run_as_login()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/users/dsl/"}
    Users module DSL documentation
  for more detail on the individual Users module functions.

