.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/variables/" }
    variables
  %hr

%h1
  Variables Module

%h2 What it does

The Variables Module simplifies working with shell parameters and adds matching and checking functions.

%h2 Help us!!!

This document needs you're help! Please
%a{:href => "https://github.com/sm/website/edit/master/content/modules/shell/variables.haml"}
  Edit on GitHub
and send a pull request!

