.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/vcs/" }
    vcs
  %hr

%h1
  VCS module

%h2
  What it does
%p
  The VCS Module docs are coming soon...

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/shell/vcs/dsl/"}
    VCS module DSL documentation
  for more detail on the individual VCS functions.

