.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  &nbsp;>&nbsp;
  %a{ :href => "/basics/" }
    Basics
  %hr

%h1
  Extension Basics

%h2
  Description
%p
  Extensions are best described as a namespaced collection of executable files
  called 'actions'.

%h2
  Actions
%p
  Actions may be scripts and/or binaries. The requirement is that they are of
  a file type that is recognized as executable on the system BDSM is installed
  to . As a precaution BDSM will restrict these types a slight bit futher.

%p
  In order to be a valid, an extension must provide at least a 'help' action.

%p
  What this means for
  %a{:href => "/development/extensions/"}
    extension developers
  is that actions may be written in any language that will be available on the
  target installation system.

%p
  Actions must be located within the extension's bin/ directory.
%p
  Actions are exposed via the bdsm CLI as an API with the following general format,
%pre.code
  :preserve
    user$ bdsm [bdsm options] &lt;extension&gt; &lt;action&gt; [extension arguments]

%p
  Any options that are passed at the end of the command are passed along to the
  named extension action through a specific exported environment variable.
%p
  This means that no matter the language, everything is available by reading
  the process environment.


%h2
  Installing
%p
  Installation of extensions from the main repository is currently all that is
  supported through the bdsm CLI API.
%p
  Other methods for extension installation are currently being developed.

%p
  First we pull the extension repository locally to the system,
%pre.code
  :preserve
    root# bdsm update repository

%p
  Internal extensions (found at https://github.com/wayneeseguin/bdsm-extensions)
  are now installed by default when BDSM is installed.

%p
  Additionally, you may also manually copy your own extension directory into the
  external extensions directory ("$bdsm_path/extensions/external/").

%h2
  Updating
%p
  Updating extensions from the main repository is done as follows.
%pre.code
  :preserve
    root# bdsm update &lt;extension_name&gt;

%h2
  Extensions Creating / Editing / Developing
%p
  Please refer to the
  %a{:href => "/development/extensions/"}
    extensions development
  documentation.


