.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  &nbsp;>&nbsp;
  %a{ :href => "/basics/" }
    Basics
  %hr

%h1
  Extension Basics

%h2
  Description
%p
  Extensions are namespaced collections of executable files called 'actions'.

%h2
  Actions
%p
  Actions can comprise scripts and/or binaries. The one absolute requirement is that their file types are
  recognized as executable by your operating system. However, as a precaution, BDSM restrains them
  just a little bit further:

%p
  A valid extension must always provide at least a 'help' action. (How else could it be a useful, worthy slave?)

%p
  Want to train some slaves yourself? As an
  %a{:href => "/development/extensions/"}
    extension developer,
  you can write in any language that runs on the machine you are
  targeting.

%p
  Actions are located within an extension's bin/ directory.
%p
  Actions are exposed for your every command via the bdsm command-line in this general format:
%pre.code
  :preserve
    user$ bdsm [bdsm options] &lt;extension&gt; &lt;action&gt; [extension arguments]

%p
  Any options you pass at the end of the command are communicated to the
  particular action via a specific exported environment variable.
%p
  So, no matter the native language an action is written in, everything it needs to know
  to perform its job obediently and with alacrity is available to it in one simple, standardized way:
  by reading its process environment.

%h2
  Installing
%p
  At the moment, there's just one straightforward way to install new extensions into bdsm:
  you simply summon them from the main repository, via bdsm's command-line interface.
  (For your convenience [and amusement], we're also developing some other future methods for extension installation, too.)

%p
  Here's how it goes. First, pull the extension repository down to your local system,
%pre.code
  :preserve
    root# sm get head ; sm sets update all ; sm ext update all

%p
  Extension sets can be found at https://github.com/sm/sm-* and installed via
  the sets command:
%pre.code
  :preserve
    root# sm sets install gnu,libraries

%p
  Additionally, you can also add your own custom extension directories, by
  copying them to the external extensions directory tree ("$bdsm_path/extensions/external/").

%h2
  Updating
%p
  Updating your extensions from the main bdsm repository is just as simple as a quick flick o' the cat:
%pre.code
  :preserve
    root# sm sets update all ; sm ext update all

%h2
  Extension Creation / Editing / Developing
%p
  Please refer to the
  %a{:href => "/development/extensions/"}
    extensions development
  documentation.


