.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  &nbsp;>&nbsp;
  %a{ :href => "/core/" }
    Core Extension
  %hr

%h1
  Core Extension

