.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/extensions/" }
    Extensions
  &nbsp;>&nbsp;
  %a{ :href => "/mod/" }
    Mod Extension
  %hr

%h1
  Modules Extension

