%a{ :name => "many-thanks" }
%a{ :name => "thanks" }

%h1
  Many Thanks!

%h3
  Thank you so much to those of you who invested the time and took the risk to be private beta-testers for BDSM, and who have provided much excellent feedback. Your contributions have made BDSM what it is at its best; its shortcomings are mine alone.

