.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Shell
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/core/" }
    core
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/core/dsl/" }
    DSL API :: core
  %hr

%h1
  Module core

%h2 bdsm_exports()
%p
  Exports bdsm framework relevant environment variables for extension action
  processes.
%h4 Input Parameters
%p None.
%h4 Stream Outputs
%p None.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ bdsm_exports
%h2 bdsm_version()
%p Reads the currently installed bdsm version into the variable 'bdsm_version'.
%h4 Input Parameters
%p None.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p The variable 'bdsm_version' will be set after the function is executed.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ bdsm_version
      user$ echo $bdsm_version
      69.69.69
%h2 NIY()
%p
  Prints a failure message and backtrace to the screen letting the caller know
  that the requested feature has not yet been implemented.
%h4 Input Parameters
%p None.
%h4 Stream Outputs
%p
  Prints &quot;This feature has not yet been implemented.&quot; to STDERR of the calling
  environment.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p None, only exit is through failure.
%h4 Failure Scenarios
%p Fails always.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ cat $HOME/test
      #!/usr/bin/env bdsm
      NIY

      user$ $HOME/test
      ERROR: This feature has not yet been implemented.
      Backtrace:
         Trace   Line Function             File
            3.    262 fail()               /usr/local/bdsm/modules/bash/logging/dsl
            2.      5 NIY()                /usr/local/bdsm/modules/bash/extensions/dsl
            1.      5 main()               /Users/wayneeseguin/test
       &gt; modules/bash/logging/dsl fail() 263 $ exit 1
