.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/" }
    BDSM
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/about/" }
    About
  %hr

%a{ :name => "about" }
%h1
  About BDSM
%p
  BDSM started as a personal project to keep all of my various server side
  scripts together. It quickly evolved into a framework that I have been using
  on a large number of production systems since late 2009.

