.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/" }
    BDSM
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/basics/" }
    Basics
  %hr

%h1 The Basics of BDSM

%p
  TODO
