%h1 Installing BDSM

%p
  There are two different ways to install and use bdsm.

%ul
  %li User level (installed as a user to ~/.bdsm)
  %li System Wide (installed as root to /usr/local/bdsm)

%h3 1. Latest Release

%p
  To install the latest BDSM framework release, run the following commands in
  your shell:

%pre.code
  :preserve
    version=$(curl http://bdsm.beginrescueend.com/releases/latest.txt) &&
    curl -O http://bdsm.beginrescueend.com/releases/bdsm-${version}.tar.bz2 &&
    tar jxf bdsm-${version}.tar.bz2 &&
    cd bdsm-${version} &&
    ./install

%p
  If you installed as root, the bdsm binary should be located in /usr/local/bin.
  If you installed as a user, the bdsm binary will be located in ~/bin/.
%p
  Be sure that either /usr/local/bin or ~/bin are in your PATH accordingly.
%p
  Next you must install any extensions that you would like to use.
  Some extensions may be found
  %a{:href => "https://github.com/wayneeseguin/bdsm-extensions"}
    on GitHub

