.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/" }
    bdsm
  &nbsp;>&nbsp;
  %a{ :href => "/bdsm/prerequisites/" }
    Prerequisites
  %hr

%h1 BDSM Prerequisites

%p
  BDSM uses the following standard *nix tools, some are builtin to bash:
%ul
  %li bash (>= 3.2)
  %li awk
  %li sed
  %li grep
  %li which
  %li ls
  %li cp
  %li tar
  %li curl
  %li gunzip
  %li bunzip2
  %li git (> 1.7)

