.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/package/" }
    package
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/package/dsl/" }
    DSL API :: package
  %hr

%h1
  Module package

%p Example Usage:
%p
  package_definition
  name &quot;bash&quot;
  version &quot;4.2&quot;
  url &quot;ftp.gnu.org/gnu/bash/&quot;
