.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/filesystem/" }
    filesystem
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/filesystem/dsl/" }
    DSL API :: filesystem
  %hr

%h1
  Module filesystem

