.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/logging/" }
    logging
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/logging/dsl/" }
    DSL API :: logging
  %hr

%h1
  Module logging

