.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/vcs/" }
    vcs
  &nbsp;>&nbsp;
  %a{ :href => "/modules/shell/vcs/dsl/" }
    DSL API :: vcs
  %hr

%h1
  Module vcs

