.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/users/" }
    users
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/users/dsl/" }
    DSL API :: users
  %hr

%h1
  Module users

