.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/core/" }
    core
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/core/dsl/" }
    DSL API :: core
  %hr

%h1
  Module core

