.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/array/" }
    Array
  %hr

%h1
  Bash Array Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li array_is_nonempty()
  %li array_length()
  %li array_last_element()
  %li array_first_element()
  %li array_push()
  %li array_append()
  %li array_shift()
  %li array_unshift()
  %li array_join()

