.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/array/" }
    array
  %hr

%h1
  Array Module
  
%h2 What it does
The Array Module adds array manipulation functionality within the BDSM framework, such as push, unshift, length, and join operations.

%h2 Methods

%code 
  array_is_nonempty()
  array_length()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/array/dsl/"}
    Array module DSL documentation for more detail on the individual Array functions.

