.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/array/" }
    array
  %hr

%h1
  Array Module
  
%h2 What it does

%h2 How to use it

%code 
  This is an example.

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/array/dsl/"}
    array module dsl documentation

