.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/array/" }
    array
  %hr

%h1
  Module array

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/array/dsl/"}
    array module dsl documentation

