.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/defaults/" }
    defaults
  %hr

%h1
  Defaults Module

%h2 What it does
The Defaults Module creates a convention for retrieving default settings for a given extension.

%h2 Functions

%pre.code
  :preserve
    read_default()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/defaults/dsl/"}
    Defaults module DSL documentation 
  for more detail on the individual Defaults functions.