.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash//tmp/docs/modules/defaults/defaults.haml/" }
    /tmp/docs/modules/defaults/defaults.haml
  %hr

%h1
  Module /tmp/docs/modules/defaults/defaults.haml

%h2 read_default
%p Reads default values from an extension's config/defaults file.
%h4 Input Parameters
%p
  First parameter is the defaults file key to read (key=value).
  Second parameter is the variable name to store the retrieved value in.
  Remaining parameters are parsed out as token, value and prefix
  into|as
  %variable{:name => ""}
    prefix
    %name
      %variable # If no specifier.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p
  A variable will be set to the value, if the value is nonempty. If no variable
  name is specified the variable will be assigned the same name as the key.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p Fails if no arguments are passed in, at least need to specify a key.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ read_default &quot;version&quot; prefix &quot;package&quot; # extension is nginx for example
      user$ echo $package_version
      1.0.0
