.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/environment/" }
    environment
  %hr

%h1
  Module environment

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/environment/dsl/"}
    environment module dsl documentation


