.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/environment/" }
    Environment
  %hr

%h1
  Bash Environment Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li command_exists()

