.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/extensions/" }
    extensions
  %hr

%h1
  Extensions Module

%h2 What it does
The Extensions module gives you functions for listing, installing, and managing BDSM extensions locally.

%h2 Functions

%pre.code
  :preserve
    extension_action()
    extensions_install()
    extension_reload()
    extension_reinitialize()
    extension_version()
    extension_licence()
    extensions_installed()
    extensions_available()
    extensions_in_development()
    extensions_in()
    extension_actions()
    extension_is_installed()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/extensions/dsl/"}
    Extensions module DSL documentation 
  for more detail on the individual Extensions module functions.



