.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/filesystem/" }
    Filesystem
  %hr

%h1
  Bash Filesystem Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li source_files()
  %li nonempty_files()
  %li ensure_paths_exist()
  %li remove_files()
  %li remove_paths()
  %li ensure_files_exist()
  %li ensure_files_are_executable()
  %li link()
  %li move_file()
  %li copy_file()
  %li copy_files_to()
  %li copy_directories_to()
  %li move_files_to()
  %li chown_files()
  %li chown_paths()
  %li chown_paths_recursively()
  %li chmod_files()
  %li chmod_paths()
  %li chmod_paths_recursively()
  %li enter()
  %li hash_file()
  %li file_is_executable()
  %li file_exists()
  %li file_is_nonempty()
  %li file_is_empty()
  %li file_is_missing()
  %li file_contains()
  %li symlink_exists()
  %li directory_exists()
  %li directories_in()
  %li directories_in_matching()
  %li directories_under()
  %li directories_under_matching()
  %li files_in()
  %li files_under()
  %li files_under_matching()
  %li replace_content()

