.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/filesystem/" }
    filesystem
  %hr
  
%h1
  Filesystem Module

%h2 What it does
The Filesystem module provides helper functions to simplify working with the filesystem.

%h2 Functions

%pre.code
  :preserve
    source_files()
    nonempty_files()
    ensure_paths_exist()
    remove_files()
    remove_paths()
    ensure_files_exist()
    ensure_files_are_executable()
    link()
    move_directory()
    move_file()
    copy_file()
    copy_files_to()
    copy_directories_to()
    copy_directory()
    move_files_to()
    chown_files()
    chown_paths()
    chown_paths_recursively()
    chmod_files()
    chmod_paths()
    chmod_paths_recursively()
    enter()
    hash_file()
    file_is_executable()
    file_exists()
    file_is_nonempty()
    file_is_empty()
    file_is_missing()
    file_is_empty_or_missing()
    file_contains()
    symlink_exists()
    directory_exists()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/filesystem/dsl/"}
    Filesystem module DSL documentation 
  for more detail on the individual Filesystem functions.


