.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/filesystem/" }
    filesystem
  %hr

%h1
  Module filesystem

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/filesystem/dsl/"}
    filesystem module dsl documentation

