.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/help/" }
    help
  %hr

%h1
  Module help

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/help/dsl/"}
    help module dsl documentation

