.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/help/" }
    help
  %hr

%h1
  Module help

%h2 show_help
%p
  Display help for the current extension based on settings declared in the help
  action.
%h4 Input Parameters
%p First parameter is the help section to display, default is all sections 'usage'.
%h4 Stream Outputs
%p Prints out formatted help sections to the calling environments STDOUT stream.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ show_help usage
%h2 description
%p Set the string that will be printed when the actions help section is output.
%h4 Input Parameters
%p First parameter is a string containing a description of the extension.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p Fails if no description is given.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ description &quot;This extension handles X Y and Z.&quot;
%h2 actions
%p Set the string that will be printed when the actions help section is output.
%h4 Input Parameters
%p First parameter is a string of the action descriptions.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p Fails if no actions are given.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ actions &quot;install  - Installs the extension...&quot;
%h2 notes
%p Define the notes help section content.
%h4 Input Parameters
%p
  First parameter is a string containing any notes for the notes section of the
  current extension's help output.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success.
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ notes &quot;Help for this extension can be found in #beginrescueend on irc.freenode.net&quot;
%h2 dependencies
%p Specify content for the dependencies section of the help command.
%h4 Input Parameters
%p
  First parameter is a string containing any dependencies for the dependencies
  section of the current extension's help output.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ dependencies &quot; * pcre&quot;
%h2 resources
%p Specify content for the resources section of the help command.
%h4 Input Parameters
%p
  First parameter is a string containing any resources for the resources
  section of the current extension's help output.
%h4 Stream Outputs
%p None.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ resources &quot;website: ...&quot;
%h2 usage
%p Display the usage help output of the command. This displays all help sections.
%h4 Input Parameters
%p None.
%h4 Stream Outputs
%p Prints all help sections to the STDOUT of the calling environment.
%h4 Environmental effects
%p None.
%h4 Return Codes
%p 0 for success
%h4 Failure Scenarios
%p No failure scenarios currently.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ usage
