.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/help/" }
    Help
  %hr

%h1
  Bash Help Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li show_help()
  %li usage()

