.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/logging/" }
    logging
  %hr

%h1
  Logging Module

%h2 What it does
The Logging module allows easy logging and debugging via STDOUT.

%h2 Functions

%pre.code
  :preserve
    log()
    info()
    warn()
    debug()
    error()
    succeed()
    fail()
    
%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/help/dsl/"}
    Logging module DSL documentation 
  for more detail on the individual Logging functions.


