.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/logging/" }
    Logging
  %hr

%h1
  Bash Logging Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li log()
  %li info()
  %li warn()
  %li debug()
  %li error()
  %li fail()

