.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/package/" }
    package
  %hr

%h1
  Module package

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/package/dsl/"}
    package module dsl documentation

