.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash//tmp/docs/modules/package/package.haml/" }
    /tmp/docs/modules/package/package.haml
  %hr

%h1
   Module /tmp/docs/modules/package/package.haml

%p Example Usage:
%p
  package_definition
  name &quot;bash&quot;
  version &quot;4.2&quot;
  url &quot;ftp.gnu.org/gnu/bash/&quot;
