.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/package/" }
    package
  %hr

%h1
  Package Module

%h2 What it does
The Package module gives BDSM functions specifically for installing/uninstalling/building packages. If you want to automate the installation, management, and configuration of packages, you're going to be good friends with the Package module.

%h2 Functions

%pre.code
  :preserve
    package_definition()
    package_install()
    package_fetch_md5()
    package_fetch()
    package_extract()
    package_configure()
    package_build()
    package_make_install()
    package_activate()
    package_setup()
    package_deactivate()
    package_activate_if_first()
    package_ldconfig()
    package_profile_d()
    package_uninstall()
    package_patch()
    package_apply_patches()
    package_usage()
    package_cli()
    package_active()
    package_must be()
    packages_must_be_active()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/package/dsl/"}
    Package module DSL documentation 
  for more detail on the individual Package functions.

