.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash//tmp/docs/modules/paranoid/paranoid.haml/" }
    /tmp/docs/modules/paranoid/paranoid.haml
  %hr

%h1
  Module /tmp/docs/modules/paranoid/paranoid.haml

%p used for script bugging and paranoid sysadmins.
