.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/project/" }
    project
  %hr

%h1
  Module project

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/project/dsl/"}
    project module dsl documentation

