.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/rvm/" }
    rvm
  %hr

%h1
  Module rvm

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/rvm/dsl/"}
    rvm module dsl documentation

