.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/service/" }
    Service
  %hr

%h1
  Bash Service Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li service_start()
  %li service_stop()
  %li service_restart()
  %li service_status()
  %li service_logtail()
  %li service_info()
  %li service_configcheck()
  %li service_cli()

