.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/service/" }
    service
  %hr

%h1
  Module service

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/service/dsl/"}
    service module dsl documentation

