.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/system/" }
    System
  %hr

%h1
  Bash System Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li init_scripts_path()
  %li ensure_user_exists()
  %li delete_user()
  %li must_be_root()
  %li must_not_be_root()
  %li run_as_user()
  %li run_as_login_user()
  %li os_type()
  %li os_arch_type()
  %li os_arch()
  %li os_arch_capable()
  %li os_cpu_count()

