.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/system/" }
    system
  %hr

%h1
  Module system

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/system/dsl/"}
    system module dsl documentation

