.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/templates/" }
    templates
  %hr

%h1
  Module templates

%h2 template_exists()
%p Checks if a named template file exists in the extension_templates_path
%h4 Input Parameters
%p First parameter must be the name of a template file, eg. a string.
%h4 Stream Outputs
%p None.
%h4 Return Codes
%p
  0 if the named template file exists and is nonempty.
  1 if the named template file does not exist or is empty.
%h4 Failure Scenarios
%p Fails if no template name is given.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ {{ setup the scenario }}
      user$ function_name {{ parameters }}
      user$ {{ demonstrate the results}}
%h2 install_template()
%p Installs a named template to a given location.
%h4 Input Parameters
%p
  The first parameter should be the template name.
  Remaining parameters specify the target, mode and owner:
  owner &quot;&lt;
  %user
    \&gt;[:&lt;
    %group
      \&gt;]&quot;
      mode 0755
      to &quot;/path/to/new/file&quot;
%h4 Stream Outputs
%p None.
%h4 Return Codes
%p
  0 if successful
  1 otherwise
%h4 Failure Scenarios
%p
  Fails if no template name was given.
  Fails if the template name given is a directory.
%h4 Usage Examples
%pre
  %code
    :preserve
      user$ install_template &quot;nginx.conf&quot; \
            to &quot;${nginx_path}/nginx.conf&quot; \
            mode 0644 owner &quot;${nginx_user}&quot;
%h2 seed_template()
%p Seed a template file replacing all given keys with given values.
%h4 Input Parameters
%p
  First parameter must be the template filename to seed.
  Remaining parameters must come in pairs, the first of each pair specifies
  the key to search and replace in the template file and the second is the
  value to replace {{$key}} with.
%h4 Stream Outputs
%p None.
%h4 Return Codes
%p 0 for success
%h4 Failure Scenarios
%p
  Fails if no template filename is given.
  Fails if the template given does not exist.
  Fails if no key/value pairs are given.
  Fails if for every key there is no associated value.
  Fails if the intermediate template file does not exist...
%h4 Usage Examples
%p
  user$ seed_template &quot;/etc/conf.d/${extension}.conf&quot;
  prefix_path &quot;${prefix_path}&quot;
  init_scripts_path &quot;${init_scripts_path}&quot;
  conf_d_path &quot;${conf_d_path}&quot;
  modules_path &quot;${modules_path}&quot;
  data_path &quot;${data_path}&quot;
  confd_path &quot;${confd_path}&quot;
  extension &quot;${extension}&quot;
