.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/templates/" }
    Templates
  %hr

%h1
  Bash Templates Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li template_exists()
  %li install_template()

