.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/templates/" }
    templates
  %hr

%h1
  Module templates

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/templates/dsl/"}
    templates module dsl documentation

