.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/trace/" }
    trace
  %hr

%h1
  Trace module

%h2
  What it does
%p
  The Trace module adds detailed debugging and backtraces for the BDSM framework.

%h2 Functions

%pre.code
  :preserve
    set_ps4()
    trace()
    enable_trace()
    disable_trace()
    debug()
    enable_debug()
    disable_debug()
    enable_backtrace()
    backtrace()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/trace/dsl/"}
    Trace module DSL documentation
  for more detail on the individual Trace module functions.



