.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/trace/" }
    Trace
  %hr

%h1
  Bash Trace Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li trace()
  %li enable_trace()
  %li disable_trace()
  %li debug()
  %li enable_debug()
  %li disable_debug()
  %li enable_backtrace()
  %li disable_backtrace()
  %li backtrace()

