.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/variables/" }
    Variables
  %hr

%h1
  Bash Variables Module

%p
  A listing of the available DSL functions (for now).
%ul
  %li first()
  %li match()
  %li ensure_nonempty()
  %li variable_is_nonempty()

