.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/variables/" }
    variables
  %hr

%h1
  Variables Module

%h2 What it does
The Variables Module simplifies working with bash parameters and adds matching and checking functions.

%h2 Functions

%pre.code
  :preserve
    first()
    last()
    match()
    variables_must_be_nonempty()
    variable_is_nonempty()
    variables_are_nonempty()

%h2
  DSL
%p
  Read the
  %a{:href => "/modules/bash/array/dsl/"}
    Array module DSL documentation 
  for more detail on the individual Array functions.

