.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash//tmp/docs/modules/vcs/vcs.haml/" }
    /tmp/docs/modules/vcs/vcs.haml
  %hr

%h1
   Module /tmp/docs/modules/vcs/vcs.haml

