.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/time/" }
    time
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/time/dsl/" }
    DSL API :: time
  %hr

%h1
  Module time

