.breadcrumbs
  %a{ :href => "/" }
    Documentation
  &nbsp;>&nbsp;
  %a{ :href => "/modules/" }
    Modules
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/" }
    Bash
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/defaults/" }
    defaults
  &nbsp;>&nbsp;
  %a{ :href => "/modules/bash/defaults/dsl/" }
    DSL API :: defaults
  %hr

%h1
  Module defaults

